html, body {
   
    margin: 0; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%; 
    max-width: 500px; 
    max-height: 80vh; 
    margin: auto; 
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5),
                0 0 20px rgba(0, 255, 255, 0.3);
    position: absolute; 
    top: 60%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 20px; 
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 70%;
    }
}

@media (max-width: 478px) {
    .container {
        flex-direction: column;
        width: 65%; 
        padding: 10px; 
    }
}

@media (max-width: 360px) {
    .container {
        flex-direction: column;
        width: 65%;
        padding: 10px;
    }
}



.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 45px;
}

.form-section {
    width: 350px;
    flex: 1;
    padding: 20px;
    margin: 0 10px; 
    background-color: transparent;
    border-radius: 15px;
}

.form-section h2 {
    font-size: 36px;
    color: #eadcdc;
    margin-bottom: 20px;
    text-align: center; 
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 20px;
    color: #eadcdc;
    margin-bottom: 5px;
   
}


.form-group input, .form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    border-bottom: 2px solid #000;
    background-color: #cfcccc;
}

.form-group textarea {
    resize: none;
    height: 100px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.submit-btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: rgb(43, 42, 42);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 251, 255, 0.5), 0 0 20px rgba(0, 247, 255, 0.3);
}

.submit-btn:hover {
    border-radius: 15px;
    box-shadow: 
        0 0 10px 4px rgba(2, 56, 58, 0.4), 
        0 0 20px 8px rgba(7, 226, 234, 0.2);
    background-color:rgba(0, 255, 255, 0.5);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90%;
    }

    .form-section {
        padding: 15px; 
        width: 100%;
    }

    .form-section h2 {
        font-size: 28px;
    }

    .form-group label {
        font-size: 16px;
    }

    .submit-btn {
        font-size: 16px;
        padding: 12px 24px;
    }
}

@media (max-width: 478px) {
    .container {
        flex-direction: column;
        width: 95%; 
        padding: 10px; 
    }

    .form-section {
        width: 100%; 
        padding: 10px; 
    }

    .form-section h2 {
        font-size: 20px; 
        text-align: center;
    }

    .form-group label {
        font-size: 12px; 
    }

    .form-group input, .form-group textarea {
        font-size: 12px;
    }

    .submit-btn {
        font-size: 14px; 
        padding: 10px 20px; 
    }
}

@media (max-width: 360px) {
    .container {
        flex-direction: column;
        width: 75%;
        padding: 10px;
        margin: 0 auto; 
    }

    .image-section img {
        width: 95%;
        height: auto;
    }

    .form-section h2 {
        font-size: 24px;
    }

    .form-group label {
        font-size: 14px;
    }

    .submit-btn {
        font-size: 14px;
        padding: 10px 20px;
    }
}
