.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #1e1e2e, #3a3a56);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.landing-content {
    max-width: 600px;
    animation: fadeEffect 1.5s ease-in-out;
}

.title-text {
    font-size: clamp(24px, 5vw, 36px);
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.emphasized {
    color: #dedede;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 123, 255, 0.3);
}

.typing-effect {
    font-size: 24px;
    color: #ffcc00;
    font-weight: 500;
}

.intro-text {
    font-size: 16px;
    margin: 20px 0;
    line-height: 1.5;
}

.button-group {
   
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.action-btn {
    background: #ffcc00;
    color: black;

    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}



.action-btn:hover {
    background-color: #d1e23b;;
    transform: scale(1.1);
}

.icon-links {
    
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 15px;
}

.icon-links a {
    font-size: 24px;
    color: white;
    transition: transform 0.3s ease-in-out;
}

.icon-links a:hover {
    transform: scale(1.2);
    color: #ffcc00;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .title-text {
        font-size: 32px;
    }
    .typing-effect {
        font-size: 20px;
    }
    .button-group {
        flex-direction: column;
        gap: 10px;
    }
}
