body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bouncing-ball {
    width: 75px;
    height: 75px;
    background: linear-gradient(45deg, #4caf50, #056f99, #e91e63, #ffeb3b);
    background-size: 400% 400%;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    animation: bounce 2s infinite ease-in-out, colorChange 3s infinite;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.7), 0 0 30px rgba(0, 255, 255, 0.5); 
    filter: blur(10px); 
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-150px);
    }
}

@keyframes colorChange {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.sidebar {
    background-color:transparent;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}

.sidebar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: transparent;
}






.profile-pic {
    width: 100%;
    max-width: 450px;
    height: auto;
    max-height: 330px;
    border-radius: 15%;
    object-fit: contain;
    margin-bottom: 20px;
    display: flex;
    padding: 0;
    box-shadow: 0 4px 8px rgba(4, 244, 248, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(174, 218, 232, 0.3);
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #dadada;
}

.title {
    font-size: 14px;
    color: #dadada;
    margin: 5px 0 20px 0;
}

.content {
    color: aliceblue;
    background-color: #030303;
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1;
    text-align: left;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.content h1 {
    font-size: 28px;
    margin: 0 0 10px 0;
    display: inline-block;
    white-space: nowrap;
    color: transparent;
    background: linear-gradient(90deg, #4caf50, #056f99, #e91e63, #ffeb3b);
    background-clip: text;
    -webkit-background-clip: text;
    animation: animateText 2s linear infinite;
    background-size: 200%;
}

.content h2 {
    padding: 10px;
    font-size: 20px;
    color: #f0eded;
    margin: 0 0 20px 0;
} 
@keyframes animateText {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.buttons {
    margin-bottom: 20px;
}

.buttons .btn {
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #056f99;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.buttons .btn-primary {
    background-color: #025657;
    color: #fff;
}

.buttons .btn-secondary {
    background-color: #fff;
    color: #065d76;
}

.content p {
    
    font-size: 17px;
    color: #a7a7a7;
    line-height: 1.6;
}

.social-icons {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.social-icons a {
    color: #dadada;
    margin: 0 10px;
    transition: transform 0.3s, color 0.3s;
    font-size: 26px; 
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #3d3b3b;
}


.social-icons a:hover {
    transform: scale(1.2);
    color: #2f4652;
}

@keyframes animateText {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@media (max-width: 768px) {
    .profile-pic {
        max-width: 80%;
    }

    .content {
        padding: 15px;
    }

    .name {
        font-size: 20px;
    }

    .title {
        font-size: 12px;
    }

    .content h1 {
        font-size: 24px;
    }

    .content h2 {
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .profile-pic {
        max-width: 90%;
    }

    .content {
        padding: 10px;
    }

    .name {
        font-size: 18px;
    }

    .title {
        font-size: 10px;
    }

    .content h1 {
        font-size: 20px;
    }

    .content h2 {
        font-size: 12px;
    }
}
