
/* Full-screen container */
/* Full-screen container */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;        /* Full viewport height */
    width: 100vw;         /* Full viewport width */
    background-color: #363636; /* Dark background */
    flex-direction: column;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden; /* Prevents scrollbars if content overflows */
  }
  
  
  /* Spinner styling */
  .loading-spinner {
    border: 8px solid #777676;
    border-top: 8px solid #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  /* Spinner animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
      }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  .welcome-text {
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
    color: #eff1f2;
    animation: textAnimation 3s ease-in-out infinite;
  }
  
  /* Text animation for "Welcome" */
  @keyframes textAnimation {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  
  /* Additional styling for the text when loading */
  p {
    margin-top: 20px;
    font-size: 20px;
    color: #010101;
  }
  